<div class="app-flex-col about-layout">
  <h1>About</h1>
  <div>
    <p>This is a simple test application to reproduce an issue with the current version of the gsap library that is causing issues with our
      double click functionality on nested svg elements.</p>
    <p>We do not see this issue on an older branch that uses gsap 2.1.3.</p>
    <p>We currently use version 3.11.4.</p>
    <p>If i downgrade to 3.2.0 the problem is not present, v3.2.1 to the latest version available (3.2.15 at this time) show the problem.</p>
    <p>The main application is too complex to share so the intenion is to create a simple application that can be shared if necessary.</p>
  </div>
</div>
