<div class="page-layout">
  <mat-toolbar class="toolbar" color="primary">
    <div class="tbAppTitleWidth">
      <h3>Angular Test App</h3>
    </div>
    <div class="tbButtons tbButtonsWidth">
      <div class="tbButtonRow">
        <div><a mat-button routerLink="/home">Home</a></div>
        <div class="tbButtonSpacer"></div>
        <div><a mat-button routerLink="/about">About</a></div>
      </div>
    </div>
    <div class="tbRightSpacerWidth"></div>
  </mat-toolbar>
  <div class="app-flex-fill">
    <router-outlet/>
  </div>
</div>
